.variable-list {
    max-width: 1200px;
    margin: 0 auto 15px;

    @include tablet {
        column-count: 2;
    }

    &__item {
        border-top: 1px solid #ddd;
    }

    &__index,
    &__name {
        padding: 8px 10px;
        display: inline-block;
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__index {
        width: 30px;
    }

    &__name {
    }

    &__link {
        text-decoration: none;
        display: inline-flex;
        width: 100%;
        color: $color-black;
        transition: 0.3s ease;
        transition-property: color, background-color;

        &:hover {
            color: $color-light;
            background-color: #669;
        }
    }
}
